<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparator statistics page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>

<body id="reportsPage">
<div class="" id="home">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="/description-create">
                <h1 class="tm-site-title mb-0">Add new image description</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="far fa-file-alt"></i>
                            Statistics
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/interview">
                            <i class="far fa-user"></i>
                            Interview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <i class="fas fa-cog"></i>
                            Admin page
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <h2 class="tm-block-title">Add description of image</h2>
                    <form method="post" action="/api/description" class="tm-signup-form row">
                        <div class="form-group col-12">
                            <label for="image" class="text-white">Select an image:</label>
                            <select id="image" name="image" class="custom-select image-input" th:object="${images}"
                                    onchange="changeImage()">>
                                <option th:each="image : ${images}" th:value="${image}" th:text="${image}">Select
                                    account
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="description">Description</label>
                            <textarea
                                    id="description"
                                    name="description"
                                    type="text"
                                    maxlength="254"
                                    rows="10"
                                    class="form-control validate"></textarea>
                        </div>
                        <div class="form-group col-6">
                            <img alt="no image preview" id="image-preview" style="max-width:100%; padding:34px;"
                                 src="/"/>
                        </div>
                        <div class="form-group col-12">
                            <input type="submit" value="Create description"
                                   class="btn btn-primary btn-block text-uppercase"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2020</b> All rights reserved.
            </p>
        </div>
    </footer>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    function changeImage() {
        var selection = document.getElementById("image");
        var result = selection.options[selection.selectedIndex].value;
        console.log(result);
        document.getElementById("image-preview").src = "/api/images/" + result;
    }
    window.onload = function() {
        changeImage();
    };
</script>
</body>
</html>
